@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #2e2f2f;
  color: whitesmoke;
}